#label, #bar{
    font-family: Arial, sans-serif;
}
#Search
{
    border: 2px solid;
    position: relative;
    transform: translate(550%,1500%);
    border: 5px solid;
    line-height: 100%;
    height: 30px;
    min-width: 120px;
    color: #fff;
    background-color: #5d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
    border: 1px solid #2f5bb7;
    border-image: initial;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    
}

#logo{
    height: 24px;
    width: 74px;
} 

#right{
    margin-right: 91.5%;
    position: relative;
    left: 92%;
    bottom: 30px            
}
#bar{
    width: 1201px;
    height: 400px;
    position: absolute;
    top: 60%;
    transform: translate(0, -50%);
    padding-left: 30px; 
    padding: 35px;
}

div input{

    line-height: 25px;
    width: 425px;
    border-radius: 1px;
     border: 1px solid #d9d9d9;
     border-top: 1px solid #c0c0c0;
              
}
#words{
    margin-left: 80px;
}
#phrase{ 
   margin-left: 9px;
}
#any{
    margin-left: 53px;

}
#none{
    margin-left: 43px;
}      

#label{
    position: relative;
    left: 50px;
    bottom: 10px;
    font-size: 20px;
    color: #d93025;

}
.discript{
    font-size: small;
    position: relative;
    word-wrap: break-word;
    margin-right: 950px;
    left: 630px; 
    bottom: 30px; 
    color: gray;
}
#instructions{
    position:relative;
    bottom: 20px;
    color: #333;
    min-width: 167px;
    width: 16%;
    font-size: 16px;
    min-height: 42px;
    font-weight: 500;
    
}
#instruct 
{
font-size: 14px;
position: relative;
left: 495px;
bottom: 25px;
font-weight: bold;
color: gray;

}

#mid{
    position: relative;
    top: 390px;
}
